{% extends 'base.html' %}
{% block title %}  {% endblock title %}
{% block content %}
    <section class="ab-info-main py-md-5 py-4 editContent"
             style="padding-left: 3rem; padding-right: 3rem;">
        {% block container %}
            <div class="container-fluid py-md-3">
        {% endblock container %}
        <div class="row">
            {% block sidebar %}
                <div class="side-bar col-lg-3">
            {% endblock sidebar %}
            {% include 'include/sidebar.html' %}
            </div>
            {% block movie %}
            {% endblock movie %}
        </div>
        </div>
    </section>
<p class="mt-3 italic-blue editContent">
    <iframe width="699" height="300"
            src="https://www.youtube.com/embed/LA6BX1mQ6bw?controls=0"
            frameborder="0" allow="accelerometer; autoplay;
                        encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <iframe width="700" height="300"
            src="https://www.youtube.com/embed/whTjYy464cY?controls=0"
            frameborder="0" allow="accelerometer; autoplay;
                                        encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</p>
{% endblock content %}